@import '../../styles/share-styles.scss';



header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(173, 178, 203);
}

.infor {
    background-color: darkgray;
    font-size: small;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: rgb(173, 178, 203);
}

.navbar {
    .container {
        .navbar-nav {
            .nav-link {
                color: rgb(173, 178, 203);
                border-radius: 18px;
                padding: 8px 16px;
            }

            .active {
                background-color: rgb(127, 68, 255) !important;
                color: white !important;
            }
        }
    }
}




.scrolled {
    background-color: black;
    /* Màu nền khi cuộn */
    color: white;
}