.container {
    color: whitesmoke;
}

.intro-section {
    padding: 20px;
    text-align: center;
}


.form-login {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}