@import '../../styles/share-styles.scss';

.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.product-category {
    width: 200px;
    text-align: center;
}

.search-input {
    width: 300px;
    background-color: $shopapp-color;
    margin-right: 10px;
    border-color: $shopapp-color;
    color: white;
}

.form-control {
    background-color: transparent;
    color: white;
}

.product-category option {
    background-color: rgb(19, 23, 42);
    /* Đặt nền cho các option */
    color: white;
    /* Đặt màu chữ cho các option */
}

/* Đặt màu cho placeholder trong input */
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

/* Đặt màu cho placeholder trong input cho trình duyệt IE */
.form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    color: white;

    .product-warranty {
        color: $shopapp-color !important;

    }
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: white;
}

.product-description {
    color: rgb(173, 178, 203);
}



.product-price {
    color: white;
}

.product-rating {
    margin-top: 10px;

    i {
        font-size: 12px;
        color: yellow;
    }
}

.product-actions {
    margin-top: 10px;

    button {
        margin-right: 10px;
    }
}


@media (max-width: 991px) {}