 
 <app-header></app-header>
 
 <div class="container">
     <div class="intro-section">
         <h1>
             this is home page
         </h1>
         <p>danh sách các sản phẩm kèm ảnh</p>
         <p>các bạn có thể vào đây mua hàng tại đây</p>
     </div>
     <!-- đoạn này  có 1 ô searchbox bên trái, 1 combo box bên phải -->
     <div class="search-box">
         <input type="text" class="form-control search-input" placeholder="Tìm sản phầm...">
         <select class="form-control product-category">
             <option value="" selected disabled>Danh mục sản phẩm</option>
             <option value="">Đồ Điện Tử</option>
             <option value="">Đồ gia dụng</option>
             <option value="">Bánh Kẹo</option>
         </select>
     </div>
 
     <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="product-item">
                 <img src="https://images.pexels.com/photos/2506947/pexels-photo-2506947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="product-img" alt="Macbook">
                 <p class="product-name">Macbook</p>
                 <p class="product-description"> this is Macbook new version</p>  
                 <p class="product-warranty">Bảo hành 12 tháng</p>
                 <p class="product-price">Gía: <del> $200</del> $100</p>
                 <div class="product-rating">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star-half-alt"></i>                    
                 </div>
                 <div class="product-actions">
                     <button class="btn btn-primary">thêm vào giỏ hàng</button>
                     <button class="btn btn-success">mua ngay</button>
                 </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
             <div class="product-item">
                  <img src="https://images.pexels.com/photos/2506947/pexels-photo-2506947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="product-img" alt="Macbook">
                  <p class="product-name">Macbook</p>
                  <p class="product-description"> this is Macbook new version</p>  
                  <p class="product-warranty">Bảo hành 12 tháng</p>
                  <p class="product-price">Gía: <del> $200</del> $100</p>
                  <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-alt"></i>                    
                  </div>
                  <div class="product-actions">
                      <button class="btn btn-primary">thêm vào giỏ hàng</button>
                      <button class="btn btn-success">mua ngay</button>
                  </div>
             </div>
          </div>
 
          <div class="col-lg-4 col-md-6">
             <div class="product-item">
                  <img src="https://images.pexels.com/photos/2506947/pexels-photo-2506947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="product-img" alt="Macbook">
                  <p class="product-name">Macbook</p>
                  <p class="product-description"> this is Macbook new version</p>  
                  <p class="product-warranty">Bảo hành 12 tháng</p>
                  <p class="product-price">Gía: <del> $200</del> $100</p>
                  <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-alt"></i>                    
                  </div>
                  <div class="product-actions">
                      <button class="btn btn-primary">thêm vào giỏ hàng</button>
                      <button class="btn btn-success">mua ngay</button>
                  </div>
             </div>
          </div>
 
          <div class="col-lg-4 col-md-6">
             <div class="product-item">
                  <img src="https://images.pexels.com/photos/2506947/pexels-photo-2506947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="product-img" alt="Macbook">
                  <p class="product-name">Macbook</p>
                  <p class="product-description"> this is Macbook new version</p>  
                  <p class="product-warranty">Bảo hành 12 tháng</p>
                  <p class="product-price">Gía: <del> $200</del> $100</p>
                  <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-alt"></i>                    
                  </div>
                  <div class="product-actions">
                      <button class="btn btn-primary">thêm vào giỏ hàng</button>
                      <button class="btn btn-success">mua ngay</button>
                  </div>
             </div>
          </div>
 
          <div class="col-lg-4 col-md-6">
             <div class="product-item">
                  <img src="https://images.pexels.com/photos/2506947/pexels-photo-2506947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="product-img" alt="Macbook">
                  <p class="product-name">Macbook</p>
                  <p class="product-description"> this is Macbook new version</p>  
                  <p class="product-warranty">Bảo hành 12 tháng</p>
                  <p class="product-price">Gía: <del> $200</del> $100</p>
                  <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-alt"></i>                    
                  </div>
                  <div class="product-actions">
                      <button class="btn btn-primary">thêm vào giỏ hàng</button>
                      <button class="btn btn-success">mua ngay</button>
                  </div>
             </div>
          </div>
     </div>
 </div>
 
 <app-footer></app-footer>
 
 
 
 