<app-header></app-header>
    <div class="container">
        <div class="intro-section">
            <h1>Chi tiết sản phẩm</h1>
            <p>Sử dụng Bootstrap để tối ưu giao diện</p>
        </div>

        <div class="row">
            <!-- Carousel -->
            <div id="carouselExampleControls" class="col-lg-6 col-md-12 mb-4 carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img [src]="imagePath + '/' + product?.images?.[currentImageIndex]?.image_url"
                            class="d-block w-100"
                            alt="Product image"
                            height="50%">
                    </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                 data-bs-slide="prev" (click)="previosImage()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                 data-bs-slide="next" (click)="nextImage()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                 <!-- Thumbnails -->
                <h5 class="mb-3 mt-3" style="text-align: center;">images of product</h5>
                <div class="thumbnail-container">
                    <div class="thumbnail-item"
                        *ngFor="let image of product?.images;
                        let i = index" (click)="thumNailClick(i)"
                        [ngClass]="{'active' : i === currentImageIndex}">
                            <img [src]="imagePath + '/' + image.image_url" >
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
               <div class="product-detail">
                    <h2>detail information</h2>
                    <p>product: {{product?.name}}</p>
                    <p>category: {{product?.category}}</p>
                    <p>description {{product?.description}}</p>
                    <p class="product-price">Unit price: {{product?.price | currency:'VND':'symbol':'1.0-2' }}</p>
                    <div class="product-action">
                        <button (click)="addToCart(productId, amount)">add to cart</button>
                        <button (click)="buyNow(productId, amount)">buy now</button>
                    </div>
                    <div class="product-quantity">
                        <button (click)="onClickReduce()">-</button>
                        <input type="text" name="amount" id="" [value]="amount" >
                        <button (click)="onClickIncrease()">+ </button>
                    </div>
               </div>
            </div>
            
        </div>
    </div>
<app-footer></app-footer>

