<app-header></app-header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Login</h3>
                        <form #loginForm = "ngForm">
                            <!-- Phone -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="email" 
                                name="phone"
                                placeholder="Enter your email or phone"
                                required
                                (input)="loginForm.form.markAsTouched()"
                                [(ngModel)]="phone">
                                <p class="text-danger" *ngIf="phone.length < 6 && loginForm.form.touched">
                                    phone must have at least 6 character
                                </p>
                            </div>

                            <!-- Password -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password"
                                name="password"
                                placeholder="Enter your password"
                                required
                                (focus)="loginForm.form.markAsTouched()"
                                [(ngModel)]="password"
                                >
                                <p class="text-danger" 
                                *ngIf="password.length < 6 && loginForm.form.touched">
                                    password must have at least 6 character
                                </p>
                            </div>

                            <!-- Remember me and Forgot Password -->
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div>
                                    <input type="checkbox"
                                    class="form-check-input" 
                                    id="remember"
                                    name="remember"
                                    [(ngModel)]="rememberMe"
                                    >
                                    <label for="remember" class="form-check-label">Remember me</label>
                                </div>
                                <a href="#" class="text-decoration-none">Forgot password?</a>
                            </div>


                            <!-- <div class = "role">
                                <select name="role-select"  [(ngModel)]="selectRole" >
                                    <option selected disabled>Login Permission</option>
                                    <option *ngFor="let role of roles" [value]="role.id">
                                        {{role.name}}
                                    </option>
                                </select>
                            </div> -->

                          
                            <!-- Submit Button -->
                            <div class="d-grid">
                                <button type="submit" 
                                class="btn btn-primary"
                                (click)="login()">Login</button>
                            </div>
                                <div class="text-center">
                                <p>Not a member? <a href="#!">Register</a></p>
                                <p>or sign up with:</p>
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-facebook-f"></i>
                                </button>
                            
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-google"></i>
                                </button>
                            
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-twitter"></i>
                                </button>
                            
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-github"></i>
                                </button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>