<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <header class="header bg-dark text-white d-flex justify-content-between">
              <h1 class="header-title">Dashboard </h1>
            </header>
    
            <div class="">
                <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                    <div class="position-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">
                                    <i class="fab fa-first-order icon"></i> Orders
                                </a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/categories">
                                    <i class="fab fa-canadian-maple-leaf icon"></i> Categories
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
                                    <i class="fab fa-codepen icon"></i> Users
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
    </div>
 </div>