<app-header></app-header>

<div class="container mt-5">
    <div class="intro-section col-md-6">
      <div class="card text-center shadow-lg border-0" *ngIf="user">
        <div class="card-body">
          <h1 class="card-title text-primary fw-bold display-5">📦 Profile</h1>
          <p class="card-text fs-4 text-dark">👤 User: <span class="badge bg-success fs-5">{{ user.full_name }}</span></p>
          <img src="../../../assets/yae-miko-genshin-impact-blossoms-desktop-wallpaper-4k.jpg" alt="">
        </div>
      </div>
    </div>
  
    <div class="profile-container col-md-6" *ngIf="user">
      <form #profileForm="ngForm">
        <!-- Phone Number -->
        <div class="mb-3">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number"
            [(ngModel)]="dataUpdate.phone_number" required>
          <p class="text-danger" *ngIf="dataUpdate.phone_number.length < 6 && profileForm.form.touched">
            Phone number must have at least 6 characters.
          </p>
        </div>
  
        <!-- Full Name -->
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" required
            [(ngModel)]="dataUpdate.full_name">
        </div>
  
        <!-- Address -->
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address" required
            [(ngModel)]="dataUpdate.address">
        </div>
  
        <!-- Date of Birth -->
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Enter your date of birth"
            [(ngModel)]="dataUpdate.date_of_birth" (input)="checkAge()">
          <p class="text-danger" *ngIf="profileForm.form.controls['dateOfBirth']?.hasError('invalidAge')">
            You must be at least 18 years old.
          </p>
        </div>
  
        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
            [(ngModel)]="dataUpdate.password">
            // FIXME: BUG
            <!-- <p class="text-danger" *ngIf="dataUpdate?.password?.length < 6 && profileForm?.form?.touched">
                Password must have at least 6 characters.
            </p> -->
        </div>
  
        <!-- Confirm Password -->
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirm-password" name="retype_password"
            placeholder="Re-enter your password" [(ngModel)]="dataUpdate.retype_password" (input)="checkPasswordsMatch()">
          <p class="text-danger" *ngIf="profileForm.form.controls['retype_password']?.hasError('passwordMismatch')">
            Passwords do not match.
          </p>
        </div>
  
        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" (click)="updateUser()">Update</button>
        </div>
      </form>
    </div>
  </div>

<app-footer></app-footer>